/**
 * Syntax highlighting styles
 * with asciidoctor fixes
 */
.highlight, .listingblock .pygments {
    @extend %vertical-rhythm;

    .tok-c, .c      { color: #998; font-style: italic } // Comment
    .tok-err, .err  { color: #a61717; background-color: #e3d2d2 } // Error
    .tok-k, .k      { font-weight: bold } // Keyword
    .tok-o, .o      { font-weight: bold } // Operator
    .tok-cm, .cm    { color: #998; font-style: italic } // Comment.Multiline
    .tok-cp, .cp    { color: #999; font-weight: bold } // Comment.Preproc
    .tok-c1, .c1    { color: #998; font-style: italic } // Comment.Single
    .tok-cs, .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .tok-gd, .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .tok-gd .tok-x, .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .tok-ge, .ge    { font-style: italic } // Generic.Emph
    .tok-gr, .gr    { color: #a00 } // Generic.Error
    .tok-gh, .gh    { color: #999 } // Generic.Heading
    .tok-gi, .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .tok-gi x, .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .tok-go, .go    { color: #888 } // Generic.Output
    .tok-gp, .gp    { color: #555 } // Generic.Prompt
    .tok-gs, .gs    { font-weight: bold } // Generic.Strong
    .tok-gu, .gu    { color: #aaa } // Generic.Subheading
    .tok-gt, .gt    { color: #a00 } // Generic.Traceback
    .tok-kc, .kc    { font-weight: bold } // Keyword.Constant
    .tok-kd, .kd    { font-weight: bold } // Keyword.Declaration
    .tok-kp, .kp    { font-weight: bold } // Keyword.Pseudo
    .tok-kr, .kr    { font-weight: bold } // Keyword.Reserved
    .tok-kt, .kt    { color: #458; font-weight: bold } // Keyword.Type
    .tok-m, .m     { color: #099 } // Literal.Number
    .tok-s, .s     { color: #d14 } // Literal.String
    .tok-na, .na    { color: #008080 } // Name.Attribute
    .tok-nb, .nb    { color: #0086B3 } // Name.Builtin
    .tok-nc, .nc    { color: #458; font-weight: bold } // Name.Class
    .tok-no, .no    { color: #008080 } // Name.Constant
    .tok-ni, .ni    { color: #800080 } // Name.Entity
    .tok-ne, .ne    { color: #900; font-weight: bold } // Name.Exception
    .tok-nf, .nf    { color: #900; font-weight: bold } // Name.Function
    .tok-nn, .nn    { color: #555 } // Name.Namespace
    .tok-nt, .nt    { color: #000080 } // Name.Tag
    .tok-nv, .nv    { color: #008080 } // Name.Variable
    .tok-ow, .ow    { font-weight: bold } // Operator.Word
    .tok-w, .w      { color: #bbb } // Text.Whitespace
    .tok-mf, .mf    { color: #099 } // Literal.Number.Float
    .tok-mh, .mh    { color: #099 } // Literal.Number.Hex
    .tok-mi, .mi    { color: #099 } // Literal.Number.Integer
    .tok-mo, .mo    { color: #099 } // Literal.Number.Oct
    .tok-sb, .sb    { color: #d14 } // Literal.String.Backtick
    .tok-sc, .sc    { color: #d14 } // Literal.String.Char
    .tok-sd, .sd    { color: #d14 } // Literal.String.Doc
    .tok-s2, .s2    { color: #d14 } // Literal.String.Double
    .tok-se, .se    { color: #d14 } // Literal.String.Escape
    .tok-sh, .sh    { color: #d14 } // Literal.String.Heredoc
    .tok-si, .si    { color: #d14 } // Literal.String.Interpol
    .tok-sx, .sx    { color: #d14 } // Literal.String.Other
    .tok-sr, .sr    { color: #009926 } // Literal.String.Regex
    .tok-s1, .s1    { color: #d14 } // Literal.String.Single
    .tok-ss, .ss    { color: #990073 } // Literal.String.Symbol
    .tok-bp, .bp    { color: #999 } // Name.Builtin.Pseudo
    .tok-vc, .vc    { color: #008080 } // Name.Variable.Class
    .tok-vg, .vg    { color: #008080 } // Name.Variable.Global
    .tok-vi, .vi    { color: #008080 } // Name.Variable.Instance
    .tok-il, .il    { color: #099 } // Literal.Number.Integer.Long
}
